body,
html {
  font-family: Inter, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  height: 100%;
}

.container-fluid {
  height: 100vh;
}

.bg-light {
  background-color: #f8f9fa;
}

.form-control {
  height: 45px;
  border-radius: 5px;
  margin-bottom: 15px;
  padding-left: 30px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  height: 45px;
  border-radius: 5px;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-wrapper {
  flex: 2;
}

.qr-code {
  flex: 1;
  text-align: center;
  margin-left: 20px;
}

.qr-code img {
  width: 100px;
  height: auto;
}

.app-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.app-row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.store-buttons img {
  width: 120px;
  height: auto;
  margin-right: 10px;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: gray;
}

@media (max-width: 768px) {
  .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .login-form {
    margin-top: 20px;
  }

  .app-links {
    align-items: center;
  }

  .app-row {
    flex-direction: column;
    align-items: center;
  }

  .store-buttons img {
    margin: 5px 0;
  }
}
